/*/////////////////////////////////////////////////////////////
////////////Created By : Arpan Sarkar///////////////////////////
///////////Licence : MIT ///////////////////////////////////////
//////////////////////////////////////////////////////////////*/

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #13547a inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}